# support (75010)
export TF_VAR_spotinst_token="0d9b10eaa2aaee95d686d5637f9d7da754b7f004af391ec19e7e2fc43a29d32e"
export TF_VAR_spotinst_account="act-eccf5eae"

export AWS_PROFILE="spotinst_support_liran"
export AWS_DEFAULT_REGION="us-west-2"
